<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TakeScreenShot"/>
      <class name="AlertHandling_ScreenShot"/>
      <class name="Data_Provider_Demo"/>
      <class name="New_Tab_Two"/>
      <class name="New_tab"/>
      <class name="ScreenshootGoogle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
